<div class="chat-container" style="height: calc(100vh - 100px);">
  <div class="chat-box scroll" style="height: calc(100% - 10px);">
    @for (message of messages(); track $index) {
      <div class="message"
      [class]="{'user': message.role === 'user', 'ai': message.role === 'assistant'}">
        {{ message.content }}
      </div>
    }
  </div>
  <div style="position: fixed; bottom: 0; width: max(50vw, 400px);">
    <div class="input-container">
      <input id="userInput" [(ngModel)]="userInput" (keyup.enter)="sendMessage()" placeholder="Type a message..."
       class="chat-input"/>
      <button class="send-button" (click)="sendMessage()">→</button>
    </div>
     <select id="modelSelect" [(ngModel)]="selectedModel" (ngModelChange)="updateModel()">
      @for (model of models; track $index) {
        <option value="{{ model }}">{{ model }}</option>
      }
    </select>
  </div>
</div>
